In [1]:
year = input('What year would you like to get teams for?  ')

What year would you like to get teams for?  2019

In [2]:
import pandas as pd
import os

direct = os.getcwd()

teamData = pd.read_csv(os.path.join(direct, 'Database', 'Teams.csv'))
codeData = pd.read_csv(os.path.join(direct, 'Database', 'ESPN Codes.csv'))

In [8]:
teamYear = teamData.loc[teamData['Year'] == int(year)]
teamInfo = teamYear[['School']]

In [9]:
teamCodes = teamInfo.merge(codeData, how='left', left_on='School', right_on='School')

In [45]:
import requests
from bs4 import BeautifulSoup as bs

dataList = [['School', 'Year', 'FGM', 'FGA', 'FTM', 'FTA', '3PM', '3PA', 'PTS', 'OR', 'DR', 'REB', 'AST', 'TO', 'STL', 'BLCK']]
for index, row in teamCodes.iterrows():
    print(index, row['School'])
    code = str(int(row['Code']))
    url = 'http://www.espn.com/mens-college-basketball/team/stats/_/id/' + code + '/season/' + year

    r = requests.get(url)
    soup=bs(r.content,'html.parser')
    
    playerStats = soup.find_all('tbody')[-1]
    totalRow = playerStats.find_all('tr')[-1]
    cols = totalRow.find_all('td')[1:]  #1st row is blank (Minutes)
    
    data = [row['School'], year]
    for c in cols:
        data.append(c.text)
    dataList.append(data)

0 Duke
1 Michigan State
2 LSU
3 Virginia Tech
4 Mississippi State
5 Maryland
6 Louisville
7 VCU
8 UCF
9 Minnesota
10 Temple
11 Belmont
12 Liberty
13 Saint Louis
14 Yale
15 Bradley
16 North Carolina Central
17 North Dakota State
18 Gonzaga
19 Michigan
20 Texas Tech
21 Florida State
22 Marquette
23 Buffalo
24 Nevada
25 Syracuse
26 Baylor
27 Florida
28 Arizona State
29 St. John's
30 Murray State
31 Vermont
32 Northern Kentucky
33 Montana
34 Fairleigh Dickinson
35 Prairie View A&M
36 Virginia
37 Tennessee
38 Purdue
39 Kansas State
40 Wisconsin
41 Villanova
42 Cincinnati
43 Ole Miss
44 Oklahoma
45 Iowa
46 Saint Mary's
47 Oregon
48 UC Irvine
49 Old Dominion
50 Colgate
51 Gardnerâ€“Webb
52 North Carolina
53 Kentucky
54 Houston
55 Kansas
56 Auburn
57 Iowa State
58 Wofford
59 Utah State
60 Washington
61 Seton Hall
62 Ohio State
63 New Mexico State
64 Northeastern
65 Georgia State
66 Abilene Christian
67 Iona

In [49]:
stats = pd.DataFrame(dataList, )
header = stats.iloc[0]
stats = stats[1:]
stats.columns = header
stats['FG%'] = stats['FGM'].astype('float') / stats['FGA'].astype('float')
stats['FT%'] = stats['FTM'].astype('float') / stats['FTA'].astype('float')
stats['3P%'] = stats['3PM'].astype('float') / stats['3PA'].astype('float')

,School,Year,FGM,FGA,FTM,FTA,3PM,3PA,PTS,OR,DR,REB,AST,TO,STL,BLCK,FG%,FT%,3P%
1,Duke,2019,1037,2173,518,751,247,818,2839,455,965,1420,541,446,322,232,0.477220,0.689747,0.301956
2,Michigan State,2019,922,1889,498,664,273,712,2615,357,996,1353,630,428,176,180,0.488089,0.750000,0.383427
3,LSU,2019,912,1975,561,744,219,678,2604,432,809,1241,420,423,291,138,0.461772,0.754032,0.323009
4,Virginia Tech,2019,824,1733,413,545,307,779,2368,285,758,1043,491,364,213,74,0.475476,0.757798,0.394095
5,Mississippi State,2019,911,1930,446,624,284,752,2552,385,796,1181,474,439,267,164,0.472021,0.714744,0.377660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,New Mexico State,2019,937,2041,464,687,319,952,2657,436,868,1304,500,403,191,89,0.459089,0.675400,0.335084
65,Northeastern,2019,864,1791,461,614,322,830,2511,230,818,1048,473,371,203,71,0.482412,0.750814,0.387952
66,Georgia State,2019,865,1858,424,643,316,814,2470,263,784,1047,402,374,259,152,0.465554,0.659409,0.388206
67,Abilene Christian,2019,880,1858,452,632,246,637,2458,325,768,1093,516,397,288,90,0.473628,0.715190,0.386185
68,Iona,2019,835,1842,507,684,282,804,2459,283,818,1101,421,396,217,89,0.453312,0.741228,0.350746

In [50]:
stats.to_csv(os.path.join(direct, 'Database', 'Stats.csv'), index=False)

In [129]:
year = input('What year would you like to get teams for?  ')

What year would you like to get teams for?  2017

In [130]:
import pandas as pd
import os

direct = os.getcwd()

teamData = pd.read_csv(os.path.join(direct, 'Database', 'Teams.csv'))
codeData = pd.read_csv(os.path.join(direct, 'Database', 'ESPN Codes.csv'))

In [131]:
teamYear = teamData.loc[teamData['Year'] == int(year)]
teamInfo = teamYear[['School']]

In [132]:
teamCodes = teamInfo.merge(codeData, how='left', left_on='School', right_on='School')

In [133]:
import requests
from bs4 import BeautifulSoup as bs

dataList = [['School', 'Year', 'FGM', 'FGA', 'FTM', 'FTA', '3PM', '3PA', 'PTS', 'OR', 'DR', 'REB', 'AST', 'TO', 'STL', 'BLCK']]
for index, row in teamCodes.iterrows():
    print(index, row['School'])
    code = str(int(row['Code']))
    url = 'http://www.espn.com/mens-college-basketball/team/stats/_/id/' + code + '/season/' + year
    print(url)
    r = requests.get(url)
    soup=bs(r.content,'html.parser')
    
    playerStats = soup.find_all('tbody')[-1]
    totalRow = playerStats.find_all('tr')[-1]
    cols = totalRow.find_all('td')[1:]  #1st row is blank (Minutes)
    
    data = [row['School'], str(year).strip()]
    for c in cols:
        data.append(c.text)
    dataList.append(data)

0 Villanova
http://www.espn.com/mens-college-basketball/team/stats/_/id/222/season/2017
1 Duke
http://www.espn.com/mens-college-basketball/team/stats/_/id/150/season/2017
2 Baylor
http://www.espn.com/mens-college-basketball/team/stats/_/id/239/season/2017
3 Florida
http://www.espn.com/mens-college-basketball/team/stats/_/id/57/season/2017
4 Virginia
http://www.espn.com/mens-college-basketball/team/stats/_/id/258/season/2017
5 SMU
http://www.espn.com/mens-college-basketball/team/stats/_/id/2567/season/2017
6 South Carolina
http://www.espn.com/mens-college-basketball/team/stats/_/id/2579/season/2017
7 Wisconsin
http://www.espn.com/mens-college-basketball/team/stats/_/id/275/season/2017
8 Virginia Tech
http://www.espn.com/mens-college-basketball/team/stats/_/id/259/season/2017
9 Marquette
http://www.espn.com/mens-college-basketball/team/stats/_/id/269/season/2017
10 Providence
http://www.espn.com/mens-college-basketball/team/stats/_/id/2507/season/2017
11 USC
http://www.espn.com/mens-college-basketball/team/stats/_/id/30/season/2017
12 UNC Wilmington
http://www.espn.com/mens-college-basketball/team/stats/_/id/350/season/2017
13 East Tennessee State
http://www.espn.com/mens-college-basketball/team/stats/_/id/2193/season/2017
14 New Mexico State
http://www.espn.com/mens-college-basketball/team/stats/_/id/166/season/2017
15 Troy
http://www.espn.com/mens-college-basketball/team/stats/_/id/2653/season/2017
16 Mount St. Mary's
http://www.espn.com/mens-college-basketball/team/stats/_/id/289/season/2017

IndexError: list index out of range

In [120]:
stats = pd.DataFrame(dataList, )
header = stats.iloc[0]
stats = stats[1:]
stats.columns = header
stats['FG%'] = stats['FGM'].astype('float') / stats['FGA'].astype('float')
stats['FT%'] = stats['FTM'].astype('float') / stats['FTA'].astype('float')
stats['3P%'] = stats['3PM'].astype('float') / stats['3PA'].astype('float')
stats

,School,Year,FGM,FGA,FTM,FTA,3PM,3PA,PTS,OR,DR,REB,AST,TO,STL,BLCK,FG%,FT%,3P%
1,Virginia,2018,825,1788,336,443,243,623,2229,277,801,1078,453,283,224,123,0.461409,0.758465,0.390048
2,Cincinnati,2018,873,1926,486,706,244,681,2476,435,855,1290,535,377,244,183,0.453271,0.688385,0.358297
3,Tennessee,2018,810,1835,508,673,249,648,2377,367,792,1159,508,393,204,145,0.441417,0.754829,0.384259
4,Arizona,2018,980,1939,555,730,235,624,2750,341,905,1246,518,418,169,155,0.505415,0.760274,0.376603
5,Kentucky,2018,895,1908,564,814,178,497,2532,400,880,1280,447,433,185,160,0.469078,0.692875,0.358149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,New Mexico State,2018,939,2042,377,586,249,748,2504,419,949,1368,466,418,186,102,0.459843,0.643345,0.332888
65,College of Charleston,2018,852,1853,520,685,254,698,2478,280,809,1089,377,318,171,119,0.459795,0.759124,0.363897
66,Bucknell,2018,942,1995,606,844,269,784,2759,318,935,1253,492,429,191,151,0.472180,0.718009,0.343112
67,Iona,2018,931,2017,452,612,319,822,2635,281,834,1115,526,385,224,101,0.461577,0.738562,0.388078
68,Penn,2018,847,1840,412,621,272,783,2378,275,901,1176,482,373,187,87,0.460326,0.663446,0.347382

In [134]:
oldStats = pd.read_csv(os.path.join(direct, 'Database', 'Stats.csv'))
oldStats

,School,Year,FGM,FGA,FTM,FTA,3PM,3PA,PTS,OR,DR,REB,AST,TO,STL,BLCK,FG%,FT%,3P%
0,Duke,2019,1037,2173,518,751,247,818,2839,455,965,1420,541,446,322,232,0.477220,0.689747,0.301956
1,Michigan State,2019,922,1889,498,664,273,712,2615,357,996,1353,630,428,176,180,0.488089,0.750000,0.383427
2,LSU,2019,912,1975,561,744,219,678,2604,432,809,1241,420,423,291,138,0.461772,0.754032,0.323009
3,Virginia Tech,2019,824,1733,413,545,307,779,2368,285,758,1043,491,364,213,74,0.475476,0.757798,0.394095
4,Mississippi State,2019,911,1930,446,624,284,752,2552,385,796,1181,474,439,267,164,0.472021,0.714744,0.377660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Middle Tennessee,2017,961,1962,412,590,217,590,2551,337,871,1208,519,354,233,97,0.489806,0.698305,0.367797
199,Winthrop,2017,866,1895,515,715,304,814,2551,313,884,1197,411,421,210,168,0.456992,0.720280,0.373464
200,Kent State,2017,955,2232,534,743,248,781,2692,524,892,1416,439,457,228,135,0.427867,0.718708,0.317542
201,Northern Kentucky,2017,1026,2152,630,899,240,679,2922,428,938,1366,528,409,206,180,0.476766,0.700779,0.353461
202,Texas Southern,2017,844,1957,643,876,198,668,2529,395,804,1199,402,394,245,107,0.431272,0.734018,0.296407

In [126]:
allStats = pd.concat((oldStats, stats), axis=0)
#final = allStats.drop_duplicates()
allStats

,School,Year,FGM,FGA,FTM,FTA,3PM,3PA,PTS,OR,DR,REB,AST,TO,STL,BLCK,FG%,FT%,3P%
0,Duke,2019,1037,2173,518,751,247,818,2839,455,965,1420,541,446,322,232,0.477220,0.689747,0.301956
1,Michigan State,2019,922,1889,498,664,273,712,2615,357,996,1353,630,428,176,180,0.488089,0.750000,0.383427
2,LSU,2019,912,1975,561,744,219,678,2604,432,809,1241,420,423,291,138,0.461772,0.754032,0.323009
3,Virginia Tech,2019,824,1733,413,545,307,779,2368,285,758,1043,491,364,213,74,0.475476,0.757798,0.394095
4,Mississippi State,2019,911,1930,446,624,284,752,2552,385,796,1181,474,439,267,164,0.472021,0.714744,0.377660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,New Mexico State,2018,939,2042,377,586,249,748,2504,419,949,1368,466,418,186,102,0.459843,0.643345,0.332888
65,College of Charleston,2018,852,1853,520,685,254,698,2478,280,809,1089,377,318,171,119,0.459795,0.759124,0.363897
66,Bucknell,2018,942,1995,606,844,269,784,2759,318,935,1253,492,429,191,151,0.472180,0.718009,0.343112
67,Iona,2018,931,2017,452,612,319,822,2635,281,834,1115,526,385,224,101,0.461577,0.738562,0.388078
68,Penn,2018,847,1840,412,621,272,783,2378,275,901,1176,482,373,187,87,0.460326,0.663446,0.347382

In [127]:
allStats['drop'] = allStats['School'] + allStats['Year'].astype('str')
allStats['drop']
final = allStats.drop_duplicates(subset=['drop'], keep='last')
final.drop(columns=['drop'], inplace=True)
final.reset_index(drop=True, inplace=True)
final

,School,Year,FGM,FGA,FTM,FTA,3PM,3PA,PTS,OR,DR,REB,AST,TO,STL,BLCK,FG%,FT%,3P%
0,Duke,2019,1037,2173,518,751,247,818,2839,455,965,1420,541,446,322,232,0.477220,0.689747,0.301956
1,Michigan State,2019,922,1889,498,664,273,712,2615,357,996,1353,630,428,176,180,0.488089,0.750000,0.383427
2,LSU,2019,912,1975,561,744,219,678,2604,432,809,1241,420,423,291,138,0.461772,0.754032,0.323009
3,Virginia Tech,2019,824,1733,413,545,307,779,2368,285,758,1043,491,364,213,74,0.475476,0.757798,0.394095
4,Mississippi State,2019,911,1930,446,624,284,752,2552,385,796,1181,474,439,267,164,0.472021,0.714744,0.377660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,New Mexico State,2018,939,2042,377,586,249,748,2504,419,949,1368,466,418,186,102,0.459843,0.643345,0.332888
132,College of Charleston,2018,852,1853,520,685,254,698,2478,280,809,1089,377,318,171,119,0.459795,0.759124,0.363897
133,Bucknell,2018,942,1995,606,844,269,784,2759,318,935,1253,492,429,191,151,0.472180,0.718009,0.343112
134,Iona,2018,931,2017,452,612,319,822,2635,281,834,1115,526,385,224,101,0.461577,0.738562,0.388078
135,Penn,2018,847,1840,412,621,272,783,2378,275,901,1176,482,373,187,87,0.460326,0.663446,0.347382

In [128]:
final.to_csv(os.path.join(direct, 'Database', 'Stats.csv'), index=False)

In [104]:
#stats.to_csv(os.path.join(direct, 'Database', 'Stats.csv'), index=False)